<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AliyunLOG_Endpoint" value="cn-beijing.log.aliyuncs.com"/>
    <add key="AliyunLOG_AccessKeyId" value="AccessKeyId"/>
    <add key="AliyunLOG_AccessKeySecret" value="AccessKeySecret"/>
    <add key="AliyunLOG_Project" value="Project"/>
    <add key="AliyunLOG_Logstore" value="Logstore"/>
  </appSettings>
</configuration>